<div class="footers"></div>

<div class="footer">     
    <div class="copyright">
        <span class="footer_sub">
            <h6>© 2023 All Rights Reserved</h6>
            <h6>.Stackup</h6>
        </span>
        <div class="left ">
            <span>Terms of Use</span>
            <span>Privacy Policy</span>
        </div>

    </div>
    
</div>

</div>
    </div>
