<span id="footercount" class="pagination  d-flex justify-content-end">

    <button onclick="firstpages()" ><i class="fa-solid fa-angles-left"></i></button>
    <button onclick="prebtn()" ><i class="fa-solid fa-angle-left"></i></button>
    <div  id="paginationbtn">
        
    </div>
    <button  onclick="nextpage()"><i class="fa-solid fa-angle-right"></i></button>
    <button  onclick="finalpages()" ><i class="fa-solid fa-angles-right"></i></button>
    

</span>


</div>