<div class="editpopup" id="popup">
            <div id="success-popup" class="bg-white p-3 rounded-3 radius shadow-sm border">
                <div>
                    <p class="text-success"><i class="fa-solid fa-trash-can trash-icon"></i></p>
                    <p class="text-center h5">"Deleted Successfully"</p>
                </div>
            </div>
</div>

<div class="editpopup" id="editpopups">
        <div id="success-popup" class="bg-white p-3 rounded-3 radius shadow-sm border">
            <div>
                <p class="text-success"><i class="far fa-edit"></i></p>
                <p class="text-center h5">"edited  Successfully"</p>
            </div>
        </div>
</div>

