
<header>
    <div class="mainheader">
        <div class="dashboard">
            <div class="head">
                <div class="head_dash">
                    <h5>Employee</h5>
                    <h5>Management</h5>
                </div>
                <div class="menu">
                    <ul class="menu-ul">
                        <li  <  id="Dashboard">
                            <i class="fa-solid fa-house"></i>
                            <h5>Dashboard</h5>
                        </li>

                        <li id="employees">
                            <i class="fa-solid fa-chart-simple"></i>
                            <h5>Employees</h5>
                        </li>

                        <li>
                            <i class="fa-solid fa-user"></i>
                            <h5>My Profile</h5>
                        </li>

                        
                            <li><i class="fa-solid fa-lock"></i><form action="/employees/logout" method="post">
                                <button class="logout" type="submit">Logout</button>
                               </form></li>
                            
                        
                    </ul>
                </div> 
                <div class="stackup">
                    <h5>Powered by</h5>
                    <img src="/images/image 1.png" alt="">
                </div>

            </div>
