@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #ebecf0;
}

.radius {
    border-radius: 20px !important;
}

.text-success {
    color: cornflowerblue !important;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
}

.p-5 {
    padding: 20px;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-40px);
    }
}

.trash-icon {
    animation: bounce 2s infinite;
    transition: color 0.3s;
}

.trash-icon:hover {
    color: #ff0000;
}
